{
    ;; !  | means mandatory
    ;; #  | means optional
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; need to prefix C T O S F with ! or #

    :profiles {:Default {:default true
                         :sim   50 
                         :delay 500
                         :alone 1000
                         :held  500 }}

    :devices {:mbp2019  [{:vendor_id 1452 :product_id 832 :is_keyboard true}] 
              :chad     [{:vendor_id 65261 :product_id 12384 :is_keyboard true}]
              :keychron [{:vendor_id 1452 :product_id 591 :is_keyboard true}]}
    
    :applications {
            :emacs ["^org\\.gnu\\.Emacs$"]
            :rdp   ["^com\\.microsoft\\.rdc\\.macos$"]
    }

    :input-sources {:en {:language "en"}
                    :ru {:language "ru"}}

    :main [{:des "Caps Lock to Control"
            :rules [[:##caps_lock :left_control [:mbp2019 :keychron]]]},

           {:des "Ctrl + I to Backspace"
            :rules [[:!T##i :delete_or_backspace [:mbp2019 :keychron]]]},
           ;; {:des "Cmd + H to Ctrl + H in Emacs"
           ;;  :rules [[:!Ch :!Th [:emacs]]]}
           
           {:des "Ctrl + H/J/K/L to Arrow Keys",
            :rules [[:!T##k :up_arrow    [:mbp2019 :!emacs :!rdp]]
                    [:!T##h :left_arrow  [:!emacs :!rdp]]
                    [:!T##j :down_arrow  [:!emacs :!rdp]]
                    [:!T##l :right_arrow [:!emacs :!rdp]]]}
            
           {:des "Ctrl + ; to Enter"
            :rules [[:!Tsemicolon :return_or_enter [:!chad]]]}

           {:des "Disable Backspace Key"
            :rules [[:delete_or_backspace :vk_none [:mbp2019 :!emacs :!rdp]]]}
           {:des "Disable Arrow Keys",
            :rules [[:up_arrow    :vk_none [:mbp2019 :!emacs :!rdp]]
                    [:left_arrow  :vk_none [:mbp2019 :!emacs :!rdp]]
                    [:down_arrow  :vk_none [:mbp2019 :!emacs :!rdp]]
                    [:right_arrow :vk_none [:mbp2019 :!emacs :!rdp]]]}
           {:des "Disable Minimize Key"
            :rules [[:!Cm :vk_none [:mbp2019 :chad]]]}

           {:des "Left CMD to EN, Right CMD to RU"
            :rules [[:##left_command :left_command [:mbp2019 :chad] {:alone :en}]
                    [:##right_command :right_command [:mbp2019 :chad] {:alone :ru}]]}

           {:des "Disable Cmd-Q for Chad Keyboard"
            :rules [[:!Cq :vk_none [:chad]]]}
    ]
}
